* {
    margin: 0;
    padding: 0;

}

header {
    background-color: rgb(30, 30, 30);
    width: 100vw;
    height: 75px;
    position: fixed;
    z-index: 999;
    /*將header移到圖層上方*/
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

header li {
    /* 轉換成行內元素，並把li元素橫向排列 */
    display: inline;
    margin-right: 4vw;
}

header ul {
    position: absolute;
    right: 8vw;
    top: 0;
    line-height: 75px;
    font-size: 28px;
}

header h1 {
    color: yellow;
    position: absolute;
    left: 10vw;
    top: 0;
    line-height: 75px;
    width: 150px;
    background-image: url(../images/websiteLogo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;

    text-indent: -9999px;
}

#cart-button {
    position: fixed;
    right: 3vw;
    font-size: 30px;
    color: white;
    top: 0;
    line-height: 75px;
}

#cart-button:hover {
    filter: drop-shadow(0 0 10px rgba(11, 1, 28, 0.9));
    transform: translateY(-3px) scale(1.05);
    cursor: pointer;
}